.leadspace {
  background-image: url('../public/images/leadspace.png');
  background-position: center center;
  background-size: cover;
  color: var(--white);
  height: 100%;
  max-height: 356px;
  padding: 65px 0;
  position: relative;
}

@media (min-width: 840px) {
  .leadspace {
    max-height: 100%;
    padding: 65px 0;
  }
}

/*@media (min-width: 1080px) {
  .leadspace {
    background-image: none;
  }
}*/

.video {
  display: none;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1; 
}

@media (min-width: 1080px) {
  .video {
    display: block;
  }
}

.headline {
  color: var(--white);
  display: block;
  margin: 1rem auto 3rem;
  text-align: center;
  width: 242px;
}

@media (min-width: 840px) {
  .headline {
    font-size: 90px;
    line-height: 95px;
    margin-bottom: 1rem;
    padding-top: 4rem;
    width: 100%;
  }
}

.leadspaceSubscribe {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 3rem 1rem 1rem;
  text-align: center;
}

@media (min-width: 840px) {
  .leadspaceSubscribe {
    background-color: transparent;
    padding: 2rem 1rem 10rem;
  }
}

.about {
  background-color: var(--black);
  color: var(--warm-gray);
  display: flex;
  justify-content: center;
  margin-top: 35px;
  padding: 3rem 1rem;
}

@media (min-width: 840px) {
  .about {
    margin-top: 0;
    padding: 0 1rem;
  }
}

.aboutContent {
  max-width: 300px;
  padding: 2rem 0 0;
  width: 100%;
}

@media (min-width: 840px) {
  .aboutContent {
    align-items: center;
    display: flex;
    max-width: 1080px;
    padding: 6rem 0;
  }

  .aboutContent h2 {
    width: 50%;
  }
}

.about p {
  text-align: center;
  width: 100%;
}

@media (min-width: 840px) {
  .about p {
    font-size: 35px;
    line-height: 45px;
    text-align: left;
    width: 50%;
  }
}

.forCoders {
  background-color: var(--warm-gray);
  padding: 2rem 1rem;
}

@media (min-width: 840px) {
  .forCoders {
    padding: 6rem 1rem;
  }
}

.forCodersWrapper {
  margin: 0 auto;
  max-width: 1580px;
}

@media (min-width: 840px) {
  .forCodersWrapper {
    display: flex;
  }
}

.forCodersImage {
  padding: 2rem 0;
  width: 100%;
}

@media (min-width: 840px) {
  .forCodersImage {
    padding: 6rem 0;
  }
}

.forCodersContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  width: 100%;
}

@media (min-width: 840px) {
  width: calc(50% - 1rem);
}

.forCodersCopy {
  width: 100%;
}

.svgTitle {
  display: none;
  height: auto;
  margin-bottom: 2.5rem;
  max-width: 381px;
  width: 100%;
}

@media (min-width: 840px) {
  .svgTitle {
    display: block;
  }
}

.svgTitleMobile {
  margin: 0 auto;
  max-width: 345px;
}

@media (min-width: 840px) {
  .svgTitleMobile {
    display: none;
  }
}

.svgUSA {
  height: auto;
  margin-top: 1rem;
  max-width: 107px;
  width: 100%;
}

@media (min-width: 840px) {
  .svgUSA {
    margin-top: 6rem;
  }
}

.secondary {
  margin: 0 auto;
  max-width: 1580px;
  padding: 4rem 1rem 4rem 0;
}

@media (min-width: 1040px) {
  .secondary {
    display: flex;
  }
}

@media (min-width: 1040px) {
  .secondaryContent {
    padding-left: 6rem;
    padding-top: 2.5rem;
    order: 2;
    width: 40%;
  }
}

.secondary p {
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 1040px) {
  .secondary p {
    text-align: left;
  }
}

.swag {
  background-image: url('../public/images/bg-texture.png');
  background-color: var(--warm-gray);
  background-position: center center;
  margin: 0 auto 2rem;
  max-width: 1280px;
  padding: 3rem 1rem;
  position: relative;
  width: 100%;
}


@media (min-width: 1040px) {
  .swag {
    background-color: transparent;
    background-image: none;
    padding: 6rem 12rem;
    text-align: left;
  }
}

.swag:after {
  background-color: var(--white);
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
}
@media (min-width: 840px) {
  .swag:after {
    display: none;
  }
}

.swagImg {
  position: relative;
  text-align: center;
  z-index: 1;
}

@media (min-width: 840px) {
  .swagImg {
    max-width: 440px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 0;
  }
}

@media (min-width: 1040px) {
  .swagImg {
    left: 40%;
    max-width: 620px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 0;
  }
}

.subscribe {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1rem;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@media (min-width: 840px) {
  .subscribe {
    align-items: flex-start;
    padding: 3rem 4rem;
    text-align: left;
    max-width: 50%;
  }
}

@media (min-width: 1040px) {
  .subscribe {
    background-color: var(--warm-gray);
    background-image: url('../public/images/bg-texture.png');
  }
}

@media (min-width: 840px) {
  .subscribe h2 {
    text-align: left;
  }
}


.why {
  background-color: var(--warm-gray);
  padding: 3rem 1rem;
}

.whyImage {
  text-align: center;
}

@media (min-width: 1040px) {
  .why {
    padding: 6rem 1rem 6rem 0;
  }

  .whyWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
    width: 100%;
    margin-bottom: 65px;
  }

  .whyImage {
    left: -2%;
    position: absolute;
  }
}

.why h2 {
  margin-bottom: 2rem;
  margin-left: 1rem;
}

.whyContent {
  margin: 2rem 0;
}

@media (min-width: 1040px) {
  .whyHeader{
    width: 45%;
  }
  .whyContent {
    width: 50%;
  }
}

.whyContent p {
  margin-bottom: 1.5rem;
}

.upcoming {
  align-items: center;
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  padding: 5rem 1rem 4rem;
}

.upcoming p  {
  color: var(--white);
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 840px) {
  .upcoming p {
    font-size: 35px;
    line-height: 45px;
  }
}
